@layer base {
  @font-face {
    font-family: 'Nebula Sans';
    src: url('/fonts/NebulaSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Nebula Sans';
    src: url('/fonts/NebulaSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Nebula Sans';
    src: url('/fonts/NebulaSans-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Nebula Sans';
    src: url('/fonts/NebulaSans-SemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-display: swap;
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ibm-plex-mono-v19-latin-regular.woff2") format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "IBM Plex Mono";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/ibm-plex-mono-v19-latin-italic.woff2") format("woff2");
  }
}
