<div class="project-list">
  <div class="project-list__grid">
    <h2 class="project-list__heading">Here's several projects I've worked on in the past few years<!-- Do not add whitespace before the endtag --></h2>
    {{ range .Pages }}
      {{ $class := printf "project-list__%s" (path.BaseName .Path) }}
      <figure class="{{ $class }} | project-link">
        <a href="{{ .RelPermalink }}">
          {{ with .Resources.GetMatch "images/thumbnail.*" }}
            {{ $alt := path.BaseName .Title | humanize }}
            <img src="{{ .RelPermalink }}" alt="{{ $alt }}">
          {{ end }}
        </a>
        <figcaption>{{ .LinkTitle }}</figcaption>
      </figure>
    {{ end }}
  </div>
</div>
