<div class="project-list">
  <h2 class="project-list__heading | animate-on-view">Here's several projects I've worked on in the past few years...</h2>
  {{ range .Pages }}
    <div class="project-item | animate-on-view">
      <figure class="project-item__media">
        <a href="{{ .RelPermalink }}">
          {{ with .Resources.GetMatch "images/thumbnail.*" }}
            {{ $alt := path.BaseName .Title | humanize }}
            <img src="{{ .RelPermalink }}" alt="{{ $alt }}">
          {{ end }}
        </a>
      </figure>
      <div class="project-item__content | animate-on-view">
        <h3>
          <a href="{{ .RelPermalink }}">
            {{ .LinkTitle }}
          </a>
        </h3>
        <p>
          {{ .Description }}
        </p>
      </div>
    </div>
  {{ end }}
</div>
