@use "sass:color";
@use "sass:map";
@use "variables";

// Mix a color with white
@function tint-color($color, $percentage) {
  @return color.mix(white, $color, $percentage);
}

// Mix a color with black
@function shade-color($color, $percentage) {
  @return color.mix(black, $color, $percentage);
}

// Return a size value
@function size($n) {
  @return $n * variables.$size-unit;
}

// Return a breakpoint min-width value
@function breakpoint-min-width($breakpoint) {
  @return map.get(variables.$breakpoint-min-widths, $breakpoint);
}

// Return a breakpoint max-width value
@function breakpoint-max-width($breakpoint) {
  @return map.get(variables.$breakpoint-max-widths, $breakpoint);
}

// Return a container max-width value
@function container-max-width($breakpoint) {
  @return map.get(variables.$container-max-widths, $breakpoint);
}
