@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  src: local(''),
    url('/fonts/barlow-v11-latin-200.woff2') format('woff2'),
    url('/fonts/barlow-v11-latin-200.woff') format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('/fonts/barlow-v11-latin-300.woff2') format('woff2'),
    url('/fonts/barlow-v11-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('/fonts/barlow-v11-latin-500.woff2') format('woff2'),
    url('/fonts/barlow-v11-latin-500.woff') format('woff');
}
