@mixin make-responsive-img {
    display: block;
    max-width: 100%;
    height: auto;
}

@mixin make-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

@mixin make-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: $btn-text-color;
    background-color: $btn-bg-color;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
    font-size: $font-size-base;
    line-height: $line-height-base;
    transition: background-color .1s ease-in-out;

    &:focus {
        outline: 0;
    }

    &:hover {
        color: $btn-text-color;
        background-color: $btn-bg-hover-color;
    }

    &:active {
        color: $btn-text-color;
        background-color: $btn-bg-active-color;
    }
}

@mixin make-btn-disabled {
    cursor: default;
    color: $btn-text-color-disabled;
    background-color: $btn-bg-color-disabled;

    &:hover {
        color: $btn-text-color-disabled;
        background-color: $btn-bg-color-disabled;
    }

    &:active {
        color: $btn-text-color-disabled;
        background-color: $btn-bg-color-disabled;
    }
}

@mixin make-btn-block {
    display: block;
    width: 100%;
}

@mixin make-btn-lg {
    padding: 1rem 1.5rem;
    font-size: $font-size-large;
    font-weight: $font-weight-normal;
}

@mixin make-border {
    border: solid 1px $border-color;
    box-shadow: 0 0 20px rgba(0,0,0,0.06);
}

@mixin make-base-text {
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

@mixin make-underline-on-hover {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
