::selection {
  background-color: rgb(233, 255, 50);
}

:root {
  font-size: $font-size-base;
  
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  background-color: $gray-50;
  color: $black;
}

body, 
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dt, dd, blockquote, figure {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}

ul, ol {
  list-style-type: none;
}

figure {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

pre {
  margin: 0;
  font-family: $font-family-mono;
}

hr {
  overflow: visible;
  height: 0;
  margin: 0;
  box-sizing: content-box;
  border: none;
  border-top: solid 2px $black;
}

img {
  border-style: none;
}

a {
  color: $black;
  text-decoration: none;
}

strong,
b {
  font-weight: $font-weight-normal;
}

cite,
em,
i {
  font-style: normal;
}

code {
  font-family: $font-family-mono;
}
