// Type

$font-family-base: "IBM Plex Mono", "Helvetica", "Arial", sans-serif;
$font-family-display: "Anton", "Helvetica", "Arial", sans-serif;
$font-family-mono: "IBM Plex Mono", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;

$font-size-sm: 14px;
$font-size-base: 18px;
$font-size-lg: 24px;

$font-weight-normal: 400;
$font-weight-bold: 500;

$line-height-base: 1.5;
$line-height-tight: 1.2;

$font-size-h1: 32px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;

// Colors

$white: rgb(255, 255, 255);
$black: rgb(20, 22, 26);
$gray-50: rgb(248, 247, 246);
$yellow: rgb(242, 232, 25);
$magenta: rgb(240, 70, 170);

// Styles

$border-dashed: dashed 3px $black;
$border-solid: solid 3px $black;

// Size

$size-unit: 8px;
$gap: 32px;
$gap-lg: 80px;
$gap-xl: 128px;

// Layout

$breakpoint-min-widths: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$breakpoint-max-widths: (
  xs: 575px,
  sm: 767px,
  md: 991px,
  lg: 1199px,
  xl: 1399px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// Components

$header-zindex: 1000;
$header-height: 230px;
