// Font file imports
@use "base/fonts";

// Reset html elements
@use "base/normalize";

// Components

@use "components/button";
@use "components/container";
@use "components/grid";
@use "components/highlight";
@use "components/pager";
@use "components/paginator";
@use "components/prose";

// Components → Tags

@use "components/tag-list";
@use "components/tag";

// Components → Home

@use "components/home";
@use "components/intro";
@use "components/latest-update";

// Components → Projects

@use "components/project-list";
@use "components/project-link";
@use "components/project";
@use "components/project-blurb";
@use "components/project-caption";
@use "components/project-card";

// Components → CV

@use "components/cv";
@use "components/about";
@use "components/quote-list";
@use "components/job-list";
@use "components/job";

// Components → Updates

@use "components/update-list";
@use "components/update";
@use "components/update-article";

// Components → 404

@use "components/four0four";

// Layout

@use "layout/main-body";
@use "layout/main-header";
@use "layout/main-logo";
@use "layout/main-nav";
@use "layout/main-content";
@use "layout/main-footer";
@use "layout/sticky-header";
