.four0four {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;

  h2 {
    font-size: $font-size-h2;
    text-align: center;
  }
  path, rect {
    fill: currentColor;
  }
}
