@use "../abstracts";

@layer components {
  .about {
    display: flex;
    flex-direction: column;
    gap: abstracts.size(6);

    figure {
      display: flex;
      justify-content: center;

      img {
        clip-path: circle(50% at 50% 50%);
      }
    }

    // Animation
    &.in-view--start {
      opacity: 0;

      &.in-view--end {
        opacity: 1;
        transition: opacity 1s ease;
      }
    }
  }
}
