@use "../abstracts";

@layer components {
  .about {
    figure {
      display: flex;
      justify-content: center;
      position: sticky;
      top: abstracts.$gap;
      z-index: 0;

      img {
        clip-path: circle(50% at 50% 50%);
      }
    }
    .prose {
      position: relative;
      z-index: 1;
      padding-top: abstracts.size(6);
      background-color: abstracts.$gray-50;
    }

    // Animation
    &.in-view--start {
      .prose,
      img.loaded--start {
        opacity: 0;
      }
      &.in-view--end {
        .prose,
        img.loaded--end {
          opacity: 1;
          transition: opacity 1s ease;
        }
      }
    }
  }
  // When the header is fixed, adjust the sticky point
  @media (min-width: abstracts.breakpoint-min-width("lg")) {
    body.js-enabled {
      .about {
        figure {
          top: var(--header-height, 0);
        }
      }
    }
  }
}
