@use "../variables";
@use "../functions";

.about {
  figure {
    position: relative;
    z-index: (variables.$header-zindex + 1);
    margin-top: -(functions.size(13));
    margin-bottom: functions.size(6);

    img {
      display: block;
      margin: 0 auto;
      width: 200px;
      clip-path: circle(50% at 50% 50%);
    }
  }
}
