@use "../abstracts";

.about {
  figure {
    position: relative;
    z-index: (abstracts.$header-zindex + 1);
    margin-top: -(abstracts.size(13));
    margin-bottom: abstracts.size(6);

    img {
      display: block;
      margin: 0 auto;
      width: 200px;
      clip-path: circle(50% at 50% 50%);
    }
  }
}
