@use "../abstracts";

.button {
  @include abstracts.make-button;

  // @options

  &.button--fill {
    @include abstracts.make-button--fill;
  }
  &.button--outline {
    @include abstracts.make-button--outline;
  }
  &.button--lg {
    @include abstracts.make-button--lg;
  }
  &.button--md {
    @include abstracts.make-button--md;
  }
  &.button--sm {
    @include abstracts.make-button--sm;
  }
  &.button--block {
    @include abstracts.make-button--block;
  }
  &.button--disabled {
    @include abstracts.make-button--disabled;
  }
}
