@use "../abstracts";

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: abstracts.$gap;
  padding-right: abstracts.$gap;

  & [class^=container] {
    padding-left: 0;
    padding-right: 0;
  }
}
.container,
.container-xxl {
  max-width: abstracts.container-max-width("xxl");
}
.container-sm {
  max-width: abstracts.container-max-width("sm");
}
.container-md {
  max-width: abstracts.container-max-width("md");
}
.container-lg {
  max-width: abstracts.container-max-width("lg");
}
.container-xl {
  max-width: abstracts.container-max-width("xl");
}
