@use "../variables";

.four0four {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: variables.$gap;

  h2 {
    font-size: variables.$font-size-h2;
    text-align: center;
  }
  path, rect {
    fill: currentColor;
  }
}
