@use "../abstracts";

@layer components {
  .home {
    display: flex;
    flex-direction: column;
    gap: abstracts.$gap-lg;

    @media (min-width: abstracts.breakpoint-min-width("md")) {
      padding-top: abstracts.$gap-lg;
      gap: abstracts.$gap-xl;
    }
  }
}
