@use "../variables";
@use "../functions";

.home {
  display: flex;
  flex-direction: column;
  gap: variables.$gap-lg;

  @media (min-width: functions.breakpoint-min-width("md")) {
    padding-top: variables.$gap;
    gap: variables.$gap-xl;
  }
}
