@use "../abstracts";

.intro {
  p {
    font-size: abstracts.$font-size-h3;

    @media (min-width: abstracts.breakpoint-min-width("md")) {
      font-size: abstracts.$font-size-h2;
      text-align: center;
    }
    @media (min-width: abstracts.breakpoint-min-width("lg")) {
      font-size: abstracts.$font-size-h1;
    }
  }

  // Animation
  &.animate-on-view {
    opacity: 0;
    transform: translate(0, abstracts.$gap);

    &.js-start-animation-on-view {
      opacity: 1;
      transform: translate(0, 0);

      @media (prefers-reduced-motion: no-preference) {
        transition: opacity 1s ease, transform 2s abstracts.$easeOutQuad;
      }
    }
  }
}
