@use "../variables";
@use "../functions";

.intro {
  p {
    font-size: variables.$font-size-h3;

    @media (min-width: functions.breakpoint-min-width("md")) {
      font-size: variables.$font-size-h2;
      text-align: center;
    }
    @media (min-width: functions.breakpoint-min-width("lg")) {
      font-size: variables.$font-size-h1;
    }
  }
}
