.job {
  display: flex;
  flex-direction: column;
  gap: $gap;

  &__logo {
    img {
      max-width: none; // Override
      width: 200px;
    }
  }
  &__description {
    h2 {
      margin-bottom: size(1);
      font-size: $font-size-h4;
    }
    h3 {
      margin-bottom: size(1);
      font-family: $font-family-display;
      font-size: $font-size-h1;
      line-height: $line-height-tight;
    }
    h4 {
      margin-bottom: $gap;
      font-size: $font-size-base;
    }
  }
  @media (min-width: breakpoint-min-width("md")) {
    flex-direction: row;
    gap: $gap-lg;
    border-top: $border-solid;

    &__description {
      padding-top: $gap-lg;
    }
  }
}
