.job-list {
  display: flex;
  flex-direction: column;
  gap: $gap;

  &__heading {
    font-family: $font-family-display;
    font-size: $font-size-h1;
  }
  &__timeline {
    margin-bottom: $gap;

    @media (max-width: breakpoint-max-width("md")) {
      display: none;
    }
  }
  & > :last-child {
    margin-bottom: 0;
  }
  .job {
    margin-bottom: size(6);
  }
}
