@use "../abstracts";

.job-list {
  display: flex;
  flex-direction: column;
  gap: abstracts.$gap;

  &__heading {
    font-family: abstracts.$font-family-display;
    font-size: abstracts.$font-size-h1;
  }
  &__timeline {
    margin-bottom: abstracts.$gap;

    @media (max-width: abstracts.breakpoint-max-width("md")) {
      display: none;
    }
  }
  & > :last-child {
    margin-bottom: 0;
  }
  .job {
    margin-bottom: abstracts.size(6);
  }
}
