@use "../abstracts";

.job {
  display: flex;
  flex-direction: column;
  gap: abstracts.$gap;

  &__logo {
    img {
      max-width: none; // Override
      width: 200px;
    }
  }
  &__description {
    h2 {
      margin-bottom: abstracts.size(1);
      font-size: abstracts.$font-size-h4;
    }
    h3 {
      margin-bottom: abstracts.size(1);
      font-family: abstracts.$font-family-display;
      font-size: abstracts.$font-size-h1;
      line-height: abstracts.$line-height-tight;
    }
    h4 {
      margin-bottom: abstracts.$gap;
      font-size: abstracts.$font-size-base;
    }
  }
  @media (min-width: abstracts.breakpoint-min-width("md")) {
    flex-direction: row;
    gap: abstracts.$gap-lg;
    border-top: abstracts.$border-solid;

    &__description {
      padding-top: abstracts.$gap-lg;
    }
  }
}
