@use "../variables";
@use "../functions";

.job-list {
  display: flex;
  flex-direction: column;
  gap: variables.$gap;

  &__heading {
    font-family: variables.$font-family-display;
    font-size: variables.$font-size-h1;
  }
  &__timeline {
    margin-bottom: variables.$gap;

    @media (max-width: functions.breakpoint-max-width("md")) {
      display: none;
    }
  }
  & > :last-child {
    margin-bottom: 0;
  }
  .job {
    margin-bottom: functions.size(6);
  }
}
