@use "../variables";
@use "../functions";

.job {
  display: flex;
  flex-direction: column;
  gap: variables.$gap;

  &__logo {
    img {
      max-width: none; // Override
      width: 200px;
    }
  }
  &__description {
    h2 {
      margin-bottom: functions.size(1);
      font-size: variables.$font-size-h4;
    }
    h3 {
      margin-bottom: functions.size(1);
      font-family: variables.$font-family-display;
      font-size: variables.$font-size-h1;
      line-height: variables.$line-height-tight;
    }
    h4 {
      margin-bottom: variables.$gap;
      font-size: variables.$font-size-base;
    }
  }
  @media (min-width: functions.breakpoint-min-width("md")) {
    flex-direction: row;
    gap: variables.$gap-lg;
    border-top: variables.$border-solid;

    &__description {
      padding-top: variables.$gap-lg;
    }
  }
}
