@use "../variables";

.latest-update {
  &__content {
    margin-bottom: variables.$gap-lg;
  }
  &__footer {
    padding-top: variables.$gap-lg;
    border-top: variables.$border-dashed;
    text-align: center;
  }
}
