.latest-update {
  padding-top: size(10);
  border-top: solid 2px $black;

  & > [class^=container] {
    display: flex;
    flex-direction: column;
    gap: size(10);
  }
}
.latest-update__more {
  padding-top: size(10);
  border-top: dashed 1px $black;
  text-align: center;
}
