@use "../abstracts";

@layer components {
  .latest-update {
    &__heading {
      font-weight: abstracts.$font-weight-bold;
    }
    &__content {
      margin-bottom: abstracts.$gap-lg;
    }
    &__footer {
      text-align: center;

      a {
        @include abstracts.make-link;
        font-weight: abstracts.$font-weight-bold;
      }
    }
    @media (min-width: abstracts.breakpoint-min-width("md")) {
      &__content {
        margin-bottom: abstracts.size(2);
      }
      &__footer {
        text-align: right;
      }
    }

    // Animation
    &__heading {
      &.in-view--start {
        opacity: 0;

        &.in-view--end {
          opacity: 1;
          transition: opacity 1s ease;
        }
      }
    }
  }
}
