@use "../abstracts";

.latest-update {
  &__content {
    margin-bottom: abstracts.$gap-lg;
  }
  &__footer {
    padding-top: abstracts.$gap-lg;
    border-top: abstracts.$border-dashed;
    text-align: center;
  }
}
