@use "../variables";
@use "../functions";

.main-header {
  padding-top: variables.$gap-lg;
  padding-bottom: variables.$gap-lg;
  background-color: variables.$yellow;

  [class^=container] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: functions.size(6);

    @media (min-width: functions.breakpoint-min-width("lg")) {
      flex-direction: row;
    }
  }
}
