.main-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
  text-align: center;

  svg {
    display: block;
    width: 50px;
    height: 44px;
  }
  h1, h2 {
    line-height: $line-height-tight;
  }
  h1 {
    font-size: $font-size-h2;
    font-weight: $font-weight-light;
  }

  @media (min-width: breakpoint-min-width("sm")) {
    flex-direction: row;
    text-align: left;
  }
  @media (min-width: breakpoint-min-width("md")) {
    gap: $gap;

    svg {
      width: 80px;
      height: 70px;
    }
    h1 {
      font-size: $font-size-h1;
    }
  }
}

body:has(.main-logo a:hover) * {
  outline: 1px solid $black;
}
