@use "../variables";
@use "../functions";

.main-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: variables.$gap;
  text-align: center;

  svg {
    display: block;
    width: 50px;
    height: 44px;
  }
  path, rect {
    fill: currentColor;
  }
  h1, h2 {
    line-height: variables.$line-height-tight;
  }
  h1 {
    font-family: variables.$font-family-display;
    font-size: variables.$font-size-h2;
  }

  @media (min-width: functions.breakpoint-min-width("sm")) {
    flex-direction: row;
    text-align: left;
  }
  @media (min-width: functions.breakpoint-min-width("md")) {
    gap: variables.$gap;

    svg {
      width: 80px;
      height: 70px;
    }
    h1 {
      font-size: variables.$font-size-h1;
    }
  }
}
