@use "../variables";
@use "../functions";

.main-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: variables.$gap-lg;
  padding-bottom: variables.$gap-lg;
  background-color: variables.$black;
  color: variables.$yellow;
  text-align: center;

  h3 {
    font-family: variables.$font-family-display;
    font-size: variables.$font-size-h1;
  }
  a {
    color: variables.$white;

    &:hover {
      text-decoration: underline;
    }
  }
  @media (min-width: functions.breakpoint-min-width("sm")) {
    h3 {
      font-size: 64px;
    }
    p {
      font-size: variables.$font-size-lg;
    }
  }
  @media (min-width: functions.breakpoint-min-width("lg")) {
    text-align: left;
  }
}
