@use "../variables";
@use "../functions";

.main-nav {
  ul {
    display: flex;
    gap: functions.size(3);
  }
  a {
    display: block;
    // Add clear border so nav doesn't jump on hover, if no menu items are selected
    border-bottom: solid 3px transparent;

    &:hover {
      border-bottom: variables.$border-solid;
    }
  }
  @media (min-width: functions.breakpoint-min-width("sm")) {
    ul {
      gap: functions.size(4);
    }
  }

  // @options

  .main-nav--selected {
    a {
        border-bottom: variables.$border-solid;
        border-color: variables.$magenta;
    }
  }
}
