.main-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: $gap-lg;
  padding-bottom: $gap-lg;
  background-color: $black;
  color: $yellow;
  text-align: center;

  h3 {
    font-family: $font-family-display;
    font-size: $font-size-h1;
  }
  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
  @media (min-width: breakpoint-min-width("sm")) {
    h3 {
      font-size: 64px;
    }
    p {
      font-size: $font-size-lg;
    }
  }
  @media (min-width: breakpoint-min-width("lg")) {
    text-align: left;
  }
}
