.main-header {
  padding-top: $gap-lg;
  padding-bottom: $gap-lg;
  border-bottom: $border-dashed;

  [class^=container] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: size(6);

    @media (min-width: breakpoint-min-width("lg")) {
      flex-direction: row;
    }
  }
}
