@use "../functions";
@use "../mixins/button";

.paginator {
  ul {
    display: flex;
    justify-content: center;
    gap: functions.size(2);
  }
  &__elipsis {
    padding-top: functions.size(2);
  }
  @media (max-width: functions.breakpoint-max-width("xs")) {
    &__prev,
    &__next {
       flex-basis: 50%;

       .button {
        @include button.make-button--outline;
        @include button.make-button--block;
      }
    }
    li:not(.paginator__prev):not(.paginator__next) {
      display: none;
    }
  }
}
