.project-card {
  display: grid;
  border: $border-solid;
  background-color: $white;
  
  img {
    border: none;
  }
  &__media {
    border-bottom: $border-solid;
  }
  &__content {
    align-self: center;
    padding: $gap;
  }
  @media (min-width: breakpoint-min-width("lg")) {
    grid-template-columns: 1fr 1fr;

    &__media {
      border-bottom: none;
      border-right: $border-solid;
    }
  }
  @media (min-width: breakpoint-min-width("xl")) {
    grid-template-columns: 2fr 1fr;
  }
}
