@use "../variables";
@use "../functions";

.prose {
  // Only apply bottom margin if element is a direct child of .prose
  & > {
    h1, h2, h3, h4, h5, h6,
    p, ul, ol, dl, blockquote, figure,
    div {
      margin-bottom: variables.$gap;
    }
    & :last-child {
      margin-bottom: 0;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: variables.$font-family-display;
    line-height: variables.$line-height-tight;
  }
  h1 {
    font-size: variables.$font-size-h1;
  }
  h2 {
    font-size: variables.$font-size-h2;
  }
  h3 {
    font-size: variables.$font-size-h3;
  }
  h4 {
    font-size: variables.$font-size-h4;
  }
  h5 {
    font-size: variables.$font-size-h5;
  }
  h6 {
    font-size: variables.$font-size-h6;
  }
  ul {
    list-style-type: square;
    padding-left: functions.size(2);
  }
  blockquote {
    padding: variables.$gap;
    background-color: variables.$white;
    border-left: variables.$border-solid;

    p {
      margin-bottom: variables.$gap;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    footer {
      padding-top: variables.$gap;
    }
  }
  a {
    color: variables.$magenta;
    
    &:hover {
      text-decoration: underline;
    }
  }
  strong,
  b {
    font-weight: variables.$font-weight-bold;
  }
  cite,
  em,
  i {
    font-style: italic;
  }
  img {
    border: solid 1px rgba(variables.$black, 0.1);
    box-shadow: 0 0 functions.size(6) rgba(variables.$black, 0.05);

    &.no-border {
      border: none;
      box-shadow: none;
    }
  }
}
