@use "../variables";
@use "../functions";
@use "../mixins/button";

.project {
  display: flex;
  flex-direction: column;
  gap: variables.$gap-lg;

  &__title {
    h2 {
      font-family: variables.$font-family-display;
      font-size: variables.$font-size-h2;
    }
    h5 {
      font-size: variables.$font-size-sm;
    }
  }
  &__content {
    img {
      border: variables.$border-solid;
    }
    & > .project-blurb:last-child {
      padding-bottom: 0;
    }
  }
  &__pager {
    text-align: center;
  }
  @media (min-width: functions.breakpoint-min-width("sm")) {
    &__pager {
      .button {
        @include button.make-button--lg;
      }
    }
  }
}
