@use "../variables";
@use "../functions";

.project-caption {
  text-align: center;

  p {
    display: inline-block;
    padding: functions.size(1.5) functions.size(2);
    border-radius: 999px;
    background-color: variables.$white;
    font-size: variables.$font-size-sm;
  }
  @media (min-width: functions.breakpoint-min-width("sm")) {
    p {
      padding: functions.size(0.5) functions.size(2);
    }
  }
}
