@use "../abstracts";

.project-caption {
  text-align: center;

  p {
    display: inline-block;
    padding: abstracts.size(1.5) abstracts.size(2);
    border-radius: 999px;
    background-color: abstracts.$white;
    font-size: abstracts.$font-size-sm;
  }
  @media (min-width: abstracts.breakpoint-min-width("sm")) {
    p {
      padding: abstracts.size(0.5) abstracts.size(2);
    }
  }
}
