@use "../abstracts";

.prose {
  // Only apply bottom margin if element is a direct child of .prose
  & > {
    h1, h2, h3, h4, h5, h6,
    p, ul, ol, dl, blockquote, figure,
    div {
      margin-bottom: abstracts.$gap;
    }
    & :last-child {
      margin-bottom: 0;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: abstracts.$font-family-display;
    line-height: abstracts.$line-height-tight;
  }
  h1 {
    font-size: abstracts.$font-size-h1;
  }
  h2 {
    font-size: abstracts.$font-size-h2;
  }
  h3 {
    font-size: abstracts.$font-size-h3;
  }
  h4 {
    font-size: abstracts.$font-size-h4;
  }
  h5 {
    font-size: abstracts.$font-size-h5;
  }
  h6 {
    font-size: abstracts.$font-size-h6;
  }
  ul {
    list-style-type: square;
    padding-left: abstracts.size(2);
  }
  blockquote {
    padding: abstracts.$gap;
    background-color: abstracts.$white;
    border-left: abstracts.$border-solid;

    p {
      margin-bottom: abstracts.$gap;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    footer {
      padding-top: abstracts.$gap;
    }
  }
  a {
    color: abstracts.$magenta;
    
    &:hover {
      text-decoration: underline;
    }
  }
  strong,
  b {
    font-weight: abstracts.$font-weight-bold;
  }
  cite,
  em,
  i {
    font-style: italic;
  }
  img {
    border: solid 1px rgba(abstracts.$black, 0.1);
    box-shadow: 0 0 abstracts.size(6) rgba(abstracts.$black, 0.05);

    &.no-border {
      border: none;
      box-shadow: none;
    }
  }
}
