.project {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
}
.project__title {
  h2 {
    font-size: $font-size-h2;
  }
  h5 {
    font-size: $font-size-sm;
  }
}
.project__content {
  img {
    border: $border-solid;
  }
  & > .project-blurb:last-child {
    padding-bottom: 0;
  }
}
@media (min-width: breakpoint-min-width("sm")) {
  .project__pager {
    .button {
      @include make-button--lg;
    }
  }
}
