@use "../abstracts";

@layer components {
  .project-list {
    display: flex;
    flex-direction: column;
    gap: abstracts.$gap-lg;

    @media (min-width: abstracts.breakpoint-min-width("md")) {
      &__heading {
        font-size: abstracts.$font-size-h3;
        text-align: center;
      }
    }

    // Animation
    &__heading {
      &.in-view--start {
        opacity: 0;
        transform: translate(0, abstracts.$gap);

        &.in-view--end {
          opacity: 1;
          transform: translate(0, 0);
          transition: opacity 0.5s ease, transform 1s abstracts.$easeOutQuad;
        }
      }
    }
  }
}
