@use "../abstracts";

.project-link {
  position: relative;
  border: abstracts.$border-primary;

  a {
    display: block;

    &:hover + figcaption {
      opacity: 1;
    }
  }
  figcaption {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(abstracts.$magenta, 0.85);
    color: abstracts.$white;
    opacity: 0;
    font-size: abstracts.$font-size-lg;
    transition: opacity .15s ease-in-out;
  }

  // Animation
  &.animate-on-view {
    opacity: 0;
    transform: translate(0, abstracts.$gap);

    &.js-start-animation-on-view {
      opacity: 1;
      transform: translate(0, 0);

      @media (prefers-reduced-motion: no-preference) {
        transition: opacity 0.5s ease, transform 1s abstracts.$easeOutQuad;
      }
    }
  }
}
