.project {
  display: flex;
  flex-direction: column;
  gap: size(10);
}
.project__title {
  h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-light;
  }
  h5 {
    font-size: $font-size-sm;
  }
}
.project__content {
  img {
    @include make-shadow;
  }
  & > .project-blurb:last-child {
    padding-bottom: 0;
  }
}
@media (min-width: breakpoint-min-width("sm")) {
  .project__pager {
    .button {
      @include make-button--lg;
    }
  }
}
