@use "../abstracts";

.project-list {
  display: flex;
  flex-direction: column;
  gap: abstracts.$gap;

  &__heading {
    text-align: center;
  }
  &__grid {
    display: grid;
    gap: abstracts.$gap;
  }
  @media (min-width: abstracts.breakpoint-min-width("md")) {
    gap: abstracts.size(8);
    
    &__heading {
      font-size: abstracts.$font-size-lg;
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: abstracts.size(8);
    }
  }
}
