.project-list {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
.project-list__heading {
  text-align: center;
}
.project-list__grid {
  display: grid;
  gap: $gap;
}
@media (min-width: breakpoint-min-width("md")) {
  .project-list {
    gap: size(8);
  }
  .project-list__heading {
    font-size: $font-size-lg;
  }
  .project-list__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: size(8);
  }
}
