@use "../variables";

.project-link {
  position: relative;
  border: variables.$border-solid;

  a {
    display: block;

    &:hover + figcaption {
      opacity: 1;
    }
  }
  figcaption {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(variables.$magenta, 0.85);
    color: variables.$white;
    opacity: 0;
    font-size: variables.$font-size-lg;
    transition: opacity .15s ease-in-out;
  }
}
