@use "../abstracts";

.project-card {
  display: grid;
  border: abstracts.$border-solid;
  background-color: abstracts.$white;
  
  img {
    border: none;
  }
  &__media {
    border-bottom: abstracts.$border-solid;
  }
  &__content {
    align-self: center;
    padding: abstracts.$gap;
  }
  @media (min-width: abstracts.breakpoint-min-width("lg")) {
    grid-template-columns: 1fr 1fr;

    &__media {
      border-bottom: none;
      border-right: abstracts.$border-solid;
    }
  }
  @media (min-width: abstracts.breakpoint-min-width("xl")) {
    grid-template-columns: 2fr 1fr;
  }
}
