@use "../variables";
@use "../functions";

.project-card {
  display: grid;
  border: variables.$border-solid;
  background-color: variables.$white;
  
  img {
    border: none;
  }
  &__media {
    border-bottom: variables.$border-solid;
  }
  &__content {
    align-self: center;
    padding: variables.$gap;
  }
  @media (min-width: functions.breakpoint-min-width("lg")) {
    grid-template-columns: 1fr 1fr;

    &__media {
      border-bottom: none;
      border-right: variables.$border-solid;
    }
  }
  @media (min-width: functions.breakpoint-min-width("xl")) {
    grid-template-columns: 2fr 1fr;
  }
}
