.project {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;

  &__title {
    h2 {
      font-family: $font-family-display;
      font-size: $font-size-h2;
    }
    h5 {
      font-size: $font-size-sm;
    }
  }
  &__content {
    img {
      border: $border-solid;
    }
    & > .project-blurb:last-child {
      padding-bottom: 0;
    }
  }
  &__pager {
    text-align: center;
  }
  @media (min-width: breakpoint-min-width("sm")) {
    &__pager {
      .button {
        @include make-button--lg;
      }
    }
  }
}
