@use "../variables";
@use "../functions";

.project-list {
  display: flex;
  flex-direction: column;
  gap: variables.$gap;

  &__heading {
    text-align: center;
  }
  &__grid {
    display: grid;
    gap: variables.$gap;
  }
  @media (min-width: functions.breakpoint-min-width("md")) {
    gap: functions.size(8);
    
    &__heading {
      font-size: variables.$font-size-lg;
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: functions.size(8);
    }
  }
}
