.project-caption {
  text-align: center;

  p {
    display: inline-block;
    padding: size(1.5) size(2);
    border-radius: 999px;
    background-color: $white;
    font-size: $font-size-sm;
  }
  @media (min-width: breakpoint-min-width("sm")) {
    p {
      padding: size(0.5) size(2);
    }
  }
}
