@use "../abstracts";

@layer components {
  .quote-list {
    display: flex;
    flex-direction: column;
    gap: abstracts.$gap;

    &__heading {
      font-family: abstracts.$font-family-display;
      font-weight: abstracts.$font-weight-display;
      line-height: abstracts.$line-height-display;
      font-size: abstracts.$font-size-h1;
    }

    // Animation
    &.in-view--start {
      opacity: 0;

      &.in-view--end {
        opacity: 1;
        transition: opacity 1s ease;
      }
    }
  }
}
