@use "../variables";

.quote-list {
  display: flex;
  flex-direction: column;
  gap: variables.$gap;

  &__heading {
    font-family: variables.$font-family-display;
    font-size: variables.$font-size-h1;
  }
}
