@use "../abstracts";

.quote-list {
  display: flex;
  flex-direction: column;
  gap: abstracts.$gap;

  &__heading {
    font-family: abstracts.$font-family-display;
    font-size: abstracts.$font-size-h1;
  }
}
