.tag {
  display: inline-block;
  padding: size(0.25) size(1.25);
  border: $border-solid;
  border-radius: 999px;
  font-size: $font-size-sm;
}
a.tag {
  &:hover {
    background-color: $black;
    color: $white;
  }
}
