@use "../abstracts";

@layer components {
  .tag {
    @include abstracts.make-button--sm;// Use same padding and font size as small button
    display: inline-block;
    outline: abstracts.$border-primary;
    outline-offset: -3px;
    border-radius: 999px;
    white-space: nowrap;

    &__count {
      font-family: abstracts.$font-family-mono;
      color: abstracts.tint-color(abstracts.$black, 50%);
    }

    // @options

    &.tag--lg {
      @include abstracts.make-button--lg;// Use same padding and font size as large button
    }
  }
  a.tag {
    position: relative;
   	z-index: 1;
   	overflow: hidden;
    text-decoration: none;

    @media (prefers-reduced-motion: no-preference) {
      transition: color 0.2s ease-out;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      height: 100%;
      width: 100%;
      background-color: abstracts.$black;
      transform: translate(-100%);
      transform-origin: left;
      border-radius: 999px;

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.2s ease-out;
      }
    }
    &:hover,
    &:active {
      color: abstracts.$white;
    }
    &:hover::before,
    &:active::before {
      transform: translate(0);
    }
  }
}
