@use "../variables";
@use "../functions";

.tag {
  display: inline-block;
  padding: functions.size(0.25) functions.size(1.25);
  border: variables.$border-solid;
  border-radius: 999px;
  font-size: variables.$font-size-sm;
}
a.tag {
  &:hover {
    background-color: variables.$black;
    color: variables.$white;
  }
}
