@use "../variables";
@use "../functions";

.update-article {
  display: grid;
  gap: variables.$gap;

  @media (min-width: functions.breakpoint-min-width("md")) {
    grid-template-columns: 1fr 2fr;
  }
}
