@use "../abstracts";

.update-list {
  display: flex;
  flex-direction: column;
  gap: abstracts.$gap-lg;
  
  &__heading {
    padding-bottom: 0;
    border-bottom: none;
    font-family: abstracts.$font-family-display;
    font-size: abstracts.$font-size-lg;
  }
  & > * {
    padding-bottom: abstracts.$gap-lg;
    border-bottom: abstracts.$border-dashed;
  }
  & > :last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
