.update-list {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
  
  & > * {
    padding-bottom: $gap-lg;
    border-bottom: $border-dashed;
  }
  & > :last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
.update-list__heading {
  padding-bottom: 0;
  border-bottom: none;
  font-size: $font-size-lg;
}
