@use "../variables";

.update-list {
  display: flex;
  flex-direction: column;
  gap: variables.$gap-lg;
  
  &__heading {
    padding-bottom: 0;
    border-bottom: none;
    font-family: variables.$font-family-display;
    font-size: variables.$font-size-lg;
  }
  & > * {
    padding-bottom: variables.$gap-lg;
    border-bottom: variables.$border-dashed;
  }
  & > :last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
