@use "../abstracts";

.update {
  display: flex;
  flex-direction: column;
  gap: abstracts.$gap;

  &__date {
    font-size: abstracts.$font-size-sm;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__tag-list {
    margin-top: -(abstracts.size(3));
  }
}

// @options

.update--featured {
  .update {
    &__date {
      order: -1;
      font-size: abstracts.$font-size-lg;
    }
    &__tag-list {
      margin-top: 0;
    }
  }
}
