@use "../abstracts";

@layer components {
  .update {
    display: flex;
    flex-direction: column;
    gap: abstracts.$gap;

    &__date {
      font-size: abstracts.$font-size-sm;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__tag-list {
      margin-top: -(abstracts.size(3));
    }

    // Animation
    &.in-view--start {
      opacity: 0;

      &.in-view--end {
        opacity: 1;
        transition: opacity 1s ease;
      }
    }
  }

  // @options

  .update--featured {
    .update {
      &__date {
        order: -1;
        font-size: abstracts.$font-size-lg;
      }
      &__tag-list {
        margin-top: 0;
      }
      // Remove animation
      &.in-view--start {
        opacity: 1;

        &.in-view--end {
          transition: none;
        }
      }
    }
  }
}
