@use "../variables";
@use "../functions";

.update {
  display: flex;
  flex-direction: column;
  gap: variables.$gap;

  &__date {
    font-size: variables.$font-size-sm;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__tag-list {
    margin-top: -(functions.size(3));
  }
}

// @options

.update--featured {
  .update {
    &__date {
      order: -1;
      font-size: variables.$font-size-lg;
    }
    &__tag-list {
      margin-top: 0;
    }
  }
}
