@use "../abstracts";

@layer layout {
  .main-header {
    padding-top: abstracts.$gap-lg;
    padding-bottom: abstracts.$gap-lg;
    background-color: abstracts.$black;
    color: abstracts.$white;

    [class^=container] {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: abstracts.size(6);

      @media (min-width: abstracts.breakpoint-min-width("lg")) {
        flex-direction: row;
      }
    }
  }

  // Only fix header on lg breakpoint and larger
  @media (min-width: abstracts.breakpoint-min-width("lg")) {
    // Only apply styles if JavaScript is enabled
    body.js-enabled {
      padding-top: abstracts.$initial-header-height;

      .main-header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: abstracts.$header-zindex;

        @media (prefers-reduced-motion: no-preference) {
          transition: all 0.1s ease-out;
        }
      }
      &.scrolled {
        .main-header {
          padding-top: abstracts.size(2);
          padding-bottom: abstracts.size(2);
        }
        .main-logo {
          svg {
            width: 27px;
            height: 24px;
          }
          h1, h2 {
            display: none;
          }
        }
      }
    }
  }
}
