@use "../abstracts";

.main-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: abstracts.$gap-lg;
  padding-bottom: abstracts.$gap-lg;
  background-color: abstracts.$black;
  color: abstracts.$yellow;
  text-align: center;

  [class^=container] {
    display: flex;
    flex-direction: column;
    gap: abstracts.size(6);
  }
  h3 {
    font-family: abstracts.$font-family-display;
    font-size: abstracts.$font-size-h1;
  }
  a {
    color: abstracts.$white;

    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: abstracts.size(3);
  }
  @media (min-width: abstracts.breakpoint-min-width("sm")) {
    h3 {
      font-size: 64px;
    }
    p {
      font-size: abstracts.$font-size-lg;
    }
  }
  @media (min-width: abstracts.breakpoint-min-width("lg")) {
    text-align: left;

    [class^=container] {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      gap: abstracts.size(6);
    }
    ul {
      flex-direction: column;
      align-items: flex-end;
      gap: abstracts.size(1);
    }
  }
}
