@use "../abstracts";

.main-nav {
  ul {
    display: flex;
    gap: abstracts.size(3);
  }
  a {
    display: block;
    // Add clear border so nav doesn't jump on hover, if no menu items are selected
    border-bottom: solid 3px transparent;

    &:hover {
      border-bottom: abstracts.$border-solid;
    }
  }
  @media (min-width: abstracts.breakpoint-min-width("sm")) {
    ul {
      gap: abstracts.size(4);
    }
  }

  // @options

  .main-nav--selected {
    a {
        border-bottom: abstracts.$border-solid;
        border-color: abstracts.$magenta;
    }
  }
}
