@use "../variables";

@mixin make-button {
  display: inline-block;
  padding: 8.5px 16px;
  outline-width: 0;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
  color: variables.$black;
  text-align: center;
  text-decoration: underline;
  font-family: variables.$font-family-base;
  font-weight: variables.$font-weight-bold;
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;
  cursor: pointer;

  &:hover,
  &:active {
    outline: variables.$border-solid;
    outline-offset: -3px;
    text-decoration: none;
  }
}
@mixin make-button--fill {
  color: variables.$white;
  background-color: variables.$black;
  text-decoration: none;

  &:focus {
    outline: 0;
  }
  &:hover,
  &:active {
    background-color: transparent;
    outline: variables.$border-solid;
    outline-offset: -3px;
    color: variables.$black;
  }
}
@mixin make-button--outline {
  color: variables.$black;
  background-color: transparent;
  outline: variables.$border-solid;
  outline-offset: -3px;
  text-decoration: none;

  &:hover,
  &:active {
    background-color: variables.$black;
    color: variables.$white;
  }
}
@mixin make-button--lg {
  padding: 14px 24px;
  font-size: variables.$font-size-lg;
}
@mixin make-button--md {
  padding: 8.5px 16px;
  font-size: variables.$font-size-base;
}
@mixin make-button--sm {
  padding: 8px 14px;
  font-size: variables.$font-size-sm;
}
@mixin make-button--block {
  display: block;
  width: 100%;
}
@mixin make-button--disabled {
  pointer-events: none;
  opacity: 0.25;
}
