<div class="project-header">
  <div class="pager">
    <ul>
      <li class="previous">
        {{ with .NextInSection }}
          <a id="previousPage" href="{{ .RelPermalink }}" title="{{ safeHTMLAttr .Title }}">{{ partial "svgs/arrow-left.svg" . }}</a>
        {{ else }}
          {{ partial "svgs/arrow-left.svg" . }}
        {{ end }}
      </li>
      <li class="next">
        {{ with .PrevInSection }}
          <a id="nextPage" href="{{ .RelPermalink }}" title="{{ safeHTMLAttr .Title }}">{{ partial "svgs/arrow-right.svg" . }}</a>
        {{ else }}
          {{ partial "svgs/arrow-right.svg" . }}
        {{ end }}
      </li>
    </ul>
  </div>
  <div class="project-title">
    <h2>
      {{ .Title }}
    </h2>
    <h5>
      {{ delimit .Params.tags ", " }}
    </h5>
  </div>
</div>

<div class="project-content">
  {{ .Content }}
</div>

<div class="next-project">
  <div class="content">
    {{ with .PrevInSection }}
      <a href="{{ .RelPermalink }}" class="next-project-btn" role="button">Next: {{ .Title }}</a>
    {{ else }}
      <a href="/" class="back">Back to All Projects</a>
    {{ end }}
  </div>
</div>
