{{ define "main" }}
  <div class="timeline">
    <div class="content">
      <img src="{{ .Params.timeline }}" alt="Timeline">
    </div>
  </div>
  <div class="jobs">
    {{ range .Params.jobs }}
      <div class="job">
        <div class="job-logo">
          <img src="{{ .logo }}" alt="{{ .name }}">
        </div>
        <div class="job-description">
          <h2>
            {{ .name }}
          </h2>
          <h3>
            {{ .title }}
          </h3>
          <h4>
            {{ .dateRange }}
          </h4>
          {{ with .description }}
            <p>
              {{ . }}
            </p>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
